body {
  font-family: 'Roboto Mono';
}

h1 {
  background-color: red;
  padding: 0.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  text-align: center;
}

h2, h3, h5, h6 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-style: italic;
  color: grey;
}

.tl-content {
  --tl-content-padding: 1em;
  padding-left: var(--tl-content-padding);
  padding-right: var(--tl-content-padding);
  max-width: 80em;
  margin: auto;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

button {
  border: 1px solid;
  --button-padding-lr: 0.6em;
  --button-padding-tb: 0.3em;
  padding-left: var(--button-padding-lr);
  padding-right: var(--button-padding-lr);
  padding-top: var(--button-padding-tb);
  padding-bottom: var(--button-padding-tb);
  border-radius: 10px;
  box-shadow: 0 0 5px lightgrey;
}
button:hover {
  background-color: whitesmoke;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  overflow: hidden;
}
th, td {
  padding: 0.4em;
  border-left: 1px solid;
  border-top: 1px solid;
}
td:first-child, th:first-child {
  border-left: none;
}
th{
  border-top: none;
}

th {
  font-weight: normal;
  background-color: whitesmoke;
}

input {
  border: 1px solid;
}

.raised {
  box-shadow: 0 0 5px lightgrey;
}

.rounded {
  border-radius: 10px;
}

.bordered {
  border: 1px solid currentcolor;
}

.padded {
  padding: 10px;
}
.padded-sm {
  padding: 5px;
}

.highlighted {
  background-color: lightgrey;
}
