a:hover{
  cursor: pointer;
}

a {
 text-decoration: underline;
 font-weight: bold;
}

.select-marble {
}

.cancel-selection {
  background: yellow;
  color: black;
}

.move-selection {
  background: lightblue;
}

.board-bg {
  background: lightgrey;
}

.marble-empty {
  background: lightgrey;
}

.marble-red {
  background: red;
}

.marble-x {
  background: black;
  color: white;
}

.marble-o {
  background: white;
}

#board {
  font-size: 2em;
}
