body {
  font-family: 'Roboto Mono';
  background-color: black;
  color:white;
}

h1 {
  background-color: red;
  padding: 10px;
  border-bottom: 1px solid black;
}

h2, h3, h5, h6 {
  font-style: italic;
  color: grey;
}

a:hover{
  cursor: pointer;
}

#board {
  font-size: 1.5em;
  letter-spacing:0.4em;
  line-height: 1em;
}

#board a {
 text-decoration: underline;
 font-weight: bold;
}

.select-marble .marble-x, .select-marble .marble-o, .select-marble {
  color: red;
}

.cancel-selection {
  background: yellow;
  color: black;
}

.move-selection {
  background: lightblue;
}

.board-bg {
  background: dimgrey;
}

.marble-empty {
  background: dimgrey;
}

.marble-red {
  background: red;
  color: white;
  text-decoration-color: white;
}

.marble-x {
  background: black;
  color: white;
  text-decoration-color: white;
}

.marble-o {
  background: white;
  color: black;
  text-decoration-color: black;
}

.player-card-parent {
  display:flex;
}

.player-card {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

button {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgrey;
}
button:hover {
  box-shadow: 0 0 5px grey;
}

#board-graphical {
  padding: 3%;
  width: 500px;
  height: 500px;
  background-color: dimgrey;
  border-radius: 10%
}
#board-inner {
  padding: 0%;
  border: 1px solid black;
  border-radius: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}
#board-inner > div {
  border-radius: 10%;
}
.board-bg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
}
.board-marble-spaced {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  padding: calc(100% / 8 / 2);
}

.marble-base {
  border-radius: 50%;
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.bg-raised {
  --bg-raised-margin: calc(100% / 8 / 4 );
  --bg-raised-size: calc(100% / 8 - var(--bg-raised-margin) * 2);

  border-radius: 30%;
  border: 1px solid black;
  margin: var(--bg-raised-margin);
  width: var(--bg-raised-size);
  height: var(--bg-raised-size);
}

.bg-hole {
  --margin-bg-hole: calc(100% / 7 * 0.15);
  --bg-hole-size: calc(100% / 7 - var(--margin-bg-hole) * 2);

  border-radius: 50%;
  background-color: inherit;
  border: 1px solid black;
  margin: var(--margin-bg-hole);
  width: var(--bg-hole-size);
  height: var(--bg-hole-size);
}

.marble-white {
  background-color: white;
}
.marble-black {
  background-color: black;
}
.marble-red {
  background-color: red;
}
.marble-null {
}

.marble-selectable.marble-black:hover {
  border: 1px solid white;
  z-index: 100;
}
.marble-selectable.marble-white:hover {
  border: 1px solid black;
  z-index: 100;
}
.marble-selectable.marble-null:hover {
  border: 1px solid black;
  z-index: 100;
}

.marble-selected.marble-white {
  background-color: lightblue;
}
.marble-selected.marble-black {
  background-color: #0000b0;
}

.marble-ghost {
  opacity: 0.5;
}
